<!DOCTYPE html>
<html lang="en">
    <header>
        <h1>Welcome to Linguistic Survey App</h1>
    </header>
    
    <nav>
        <a href='/signup'>Sign up</a>
        <a href='/login'>Login</a>
    </nav>
</html>

