<h1>New Survey Form</h1>
<p><%= @notice %></p>

<form method="post" action="/surveys">
<label>Name: </label>
<input type="text" name="survey[name]">
<br>
<label>Gender: </label>
<input type="text" name="survey[gender]">
<br>
<label>Age: </label>
<input type="integer" name="survey[age]">
<br>
<label>First language: </label>
<input type="text" name="survey[first_language]">
<br>
<label>Second language: </label>
<input type="text" name="survey[second_language]">
<br>
<label>Province: </label>
<input type="text" name="location[province]">
<br>
<label>County: </label>
<input type="text" name="location[county]">
<br>
<label>Village: </label>
<input type="text" name="location[village]">
<br>
<button type="submit">Submit</button>

</form>