<h1>New Survey Form</h1>
<% @survey.errors.full_messages.each do |m| %>
    <p><%= m %></p>
<% end %>

<form method="post" action="/surveys">
<label>Name: </label>
<input type="text" name="survey[name]">
<br>
<label>Gender: </label>
<input type="radio" name="survey[gender]" value="m">male
<input type="radio" name="survey[gender]" value="f">female
<br>
<label>Age: </label>
<input type="integer" name="survey[age]">
<br>
<label>First language: </label>
<input type="text" name="survey[first_language]">
<br>
<label>Second language: </label>
<input type="text" name="survey[second_language]">
<br>
<h3>Location:</h3>
<label>Province: </label>
<input type="text" name="location[province]" required>
<br>
<label>County: </label>
<input type="text" name="location[county]" required>
<br>
<label>Village: </label>
<input type="text" name="location[village]" required>
<br>
<button type="submit">Submit</button>

</form>