<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href='/logout'>Logout</a>
    <a href='/surveys/new'>New Survey</a>
    <a href="/locations">Locations</a>
    <a href="/surveys">Surveys</a>
     <%= yield %>
</body>
</html>